body {
	background-color: white;
	margin: 0 !important;
	padding: 0 !important;
}

h1 {
	font-size: 25px;
	font-weight: 700;
}

h2 {
	font-size: 17px;
	font-weight: 700;
}

h3 {
	font-size: 17px;
	font-weight: 700;
	padding-left: 20px;
}

textarea {
	font-family: Arial,sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
}

/**************/
/* Navigation */
/**************/

header {
	padding: 0;
	margin-bottom: 15px;
}

nav {
	background-color: #333;
	padding-top: 5px;
	padding-bottom: 5px;
	letter-spacing: 1px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 17px;
}

nav ul{
	overflow: hidden;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

nav ul li {
	float: left;
	margin-right: 10px;
}

nav ul li a {
	display: inline-block;
	color: #fff;
	background-color: #333;
	text-decoration: none;
	padding: 5px 20px;
}

nav ul li a:hover {
	color: white;
	background-color: #008CBA;
}

.columnOne, .columnTwo {
	float: left;
}

.columnOne {
}

.columnTwo {
	padding-top: 0px;
	margin-top: 0px;
	width: 70%;
}

th, td {
	border: 1px solid black;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}

th {
	background-color: #5F9EA0;
	color: white;
	font-family: Verdana,sans-serif;
	height: 25px;
	font-weight: 700;
	font-size: 15px;
}

table {
	margin: 20px 20px;
	border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f7f7ff;
}

tr:nth-child(odd) {
    background-color: white;
}

.tableLink {
	border: 0px;
	background-color: white;
	padding: 20px;
}

table.form>tbody>tr>td{
	border: 0px;
	background-color: white;
	text-align: left;
}

/**************************/
/* Login and Registration */
/**************************/

.header {
	width: 60%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

.header>a {
	color: white;
}

.content>form {
	width: 60%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}

.content {
	width: 60%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}

.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	margin-bottom: 20px;
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}

#pwdError:empty {
	background: transparent;
	border: 0;
}

.links {
	width: 92%; 
	margin: 0px auto; 
	margin-top: 10px;
	padding: 10px; 
	border: 1px solid #5F9EA0; 
	color: white; 
	background: #5F9EA0; 
	border-radius: 5px; 
	text-align: left;
}

.links>a {
	color: white;
	line-height: 1.5;
}

.list {
	line-height: 1.5;
}

.whiteList>tbody>tr {
	background-color:white;
	border: 0px;
}